.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 14px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    transition: 0.3s;
    border-radius: 24px;

    &::before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: -6px;
      bottom: -3px;
      background-color: #bdbdbd;
      transition: 0.3s;
      border-radius: 50%;
      z-index: 1;
      box-shadow: none;
    }
  }

  input:checked + .slider {
    background-color: #1976d2;
  }

  input:checked + .slider::before {
    transform: translateX(140%);
    background-color: #29b6f6;
  }

  &:hover:not(.disabled) .slider::before {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
  }

  &:hover:not(.disabled) input:checked + .slider::before {
    box-shadow: 0 0 0 8px rgba(25, 118, 210, 0.2);
  }

  input:focus-visible + .slider::before {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.15);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .slider {
      cursor: not-allowed;
    }

    .slider::before {
      box-shadow: none !important;
    }
  }

  input:disabled + .slider {
    cursor: not-allowed;
  }
}
