.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    font-size: 0.9rem;
    padding-left: 5px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    margin: 0;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.3);
      transition: box-shadow 0.3s ease-in-out;
    }

    &:disabled,
    &:disabled + .label {
      color: gray;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}
